.page_dashboard {
  padding-top: 2em;
  padding-bottom: 2em;
}

.project_table {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;

  * {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }

  tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}