#
# This file contains rules that control how Git handles binary and text files, including line endings
#


# Make sure Windows batch files preserve CR/LF line endings, otherwise they may not be able to execute.  Windows
# batch files require a CR/LF for labels to work properly, otherwise they may fail when labels straddle 512-byte
# block boundaries.  This is important when files are downloaded through a zip archive that was authored on a
# Linux machine (the default behavior on GitHub)

* text=auto eol=lf
*.bat text eol=crlf
*.zig text eol=lf
*.md  text eol=lf
