# MkDocs Dev: for development only
# flake8==5.0.4
# autopep8==1.7.0
# pyflakes==2.5.0
# autoflake==1.5.2
# requests==2.28.1

# MkDocs Core: actively used
mkdocs==1.4.2
pymdown-extensions==9.7
mkdocs-material==8.5.8
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-git-revision-date-localized-plugin==1.1.0
mkdocs-plugin-progress==1.2.0

# MkDocs Extra: not deployed to production yet
mkdocs-minify-plugin==0.6.1
mkdocs-redirects==1.2.0

# MkDocs Broken: these have Obsidian compat issues
# mkdocs-roamlinks-plugin==0.2.0
# mkdocs-ezlinked-plugin==0.3.2
# mkdocs-ezlinks-plugin==0.1.14
