# MkDocs Dev: for development only
# flake8==5.0.4
# autopep8==1.7.0
# pyflakes==2.5.0
# autoflake==1.5.2
# requests~=2.26,>=2.28.1

# MkDocs Core: actively used
mkdocs~=1.5,>=1.5.3
pymdown-extensions~=10.2,>=10.5
mkdocs-material~=9.5,>=9.5.2
mkdocs-awesome-pages-plugin>=2.9.2
mkdocs-git-revision-date-localized-plugin==1.2.1
mkdocs-plugin-progress==1.2.0

# MkDocs Extra: not deployed to production yet
mkdocs-minify-plugin==0.7.1
mkdocs-redirects==1.2.1

# MkDocs Broken: these have Obsidian compat issues
# mkdocs-roamlinks-plugin==0.2.0
mkdocs-ezlinked-plugin==0.3.3
# mkdocs-ezlinks-plugin==0.1.14

# Obsidian Markdown: actively used
obsidiantools==0.10.0
mdx_breakless_lists==1.0.1
mkdocs-callouts==1.10.0
mkdocs-meta-descriptions-plugin==3.0.0
mkdocs-glightbox>=0.3.5

# Obsidian Markdown: not deployed
# mkdocs-embed-file-plugins==2.0.5
# mkdocs-preview-links-plugin==0.6.2
# mkdocs-mermaid2-plugin==0.6.0
# mkdocs-custom-tags-attributes==0.3.0
# pyvis==0.3.2

# Native Dependencies: not deployed
# cairosvg==2.7.0
# pillow==9.4.0
