// Just for demo

.page-grids .grid-structure .row {
  margin-top: .8rem;

  .widget-container {
    margin-top: 5px;
    background: rgba(#000, .1);
    padding: 10px 15px 12px;
    font-size: 12px;
    min-height: 0;
    border-radius: 4px;
  }

}
