.ant-page-header {
  margin-bottom: 1em !important;
}

.ant-drawer-close {
  .anticon.anticon-close {
    color: white !important;
  }
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: rgba(255, 255, 255, 0.03) !important;
}
