.ant-page-header {
  margin-bottom: 1em !important;
}

.ant-drawer-close {
  .anticon.anticon-close {
    color: white !important;
  }
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: rgba(255, 255, 255, 0.03) !important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 34px !important;
  line-height: 34px !important;
}
.app-header .bg-dark a {
  color: #f8f8f8;
  &:hover {
    color: #fff;
  }
}

.app-header-inner .list-inline-item {
  padding: 0 0.875rem;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container-fluid.no-breadcrumb {
  padding-top: 2em;
  padding-bottom: 1em;
}
.app-drawer .ant-drawer-body {
  padding: 0;
}
