// demo only

.loader-container {
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;


  // loader
  > div {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.33%;
    max-width: 33.33%;
    height: 200px;
    align-items: center;
    justify-content: center;
  }
}